In [68]:
import numpy as np # numpy used for numerical calculations in python*/
import pandas as pd #used for data manipulation and analysis offers data structures for manipulation of numerical data tables

In [69]:
credit=pd.read_csv("/content/drive/MyDrive/credits.csv")

In [70]:
movies = pd.read_csv("/content/drive/MyDrive/movies.csv")

In [ ]:
credit # display only few rows indicating other rows with ..

In [72]:
pd.set_option('display.max_columns',None) # display all columns of datasets
pd.set_option('display.max_rows',None) # dispaly all rows of datasets

In [73]:
#credit # hence here it displays all rows and colums of "credit"
#credit.head() # display first 5 rows
#credit.tail() # display last 5 rows
credit.shape # display no of rows * no of columns

(4803, 4)

In [74]:
movies.shape

(4803, 20)

In [75]:
movies=movies.merge(credit,on='title') # if u run this command multiple times then it will merge more times and increases movie shape every time

In [76]:
movies.shape

(4808, 23)

In [77]:
movies.info() # info and info() are  different functions where .info() represents datatypes ,column names,null values and labels

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4808 non-null   int64
 1   genres                4808 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4808 non-null   int64
 4   keywords              4808 non-null   object
 5   original_language     4808 non-null   object
 6   original_title        4808 non-null   object
 7   overview              4805 non-null   object
 8   popularity            4808 non-null   float64
 9   production_companies  4808 non-null   object
 10  production_countries  4808 non-null   object
 11  release_date          4807 non-null   object
 12  revenue               4808 non-null   int64
 13  runtime               4806 non-null   float64
 14  spoken_languages      4808 non-null   object
 15  status                4808 non-null   object
 16  tagline               3964 non-null   object
 17  title                 4808 non-null   object
 18  vote_average          4808 non-null   float64
 19  vote_count            4808 non-null   int64
 20  movie_id              4808 non-null   int64
 21  cast                  4808 non-null   object
 22  crew                  4808 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.5+ KB

In [78]:
movies=movies[['genres','keywords','movie_id','cast','crew','overview','title']] # considering only required parameters out of all 22 columns

In [79]:
movies.info() #hence movies dataset get shrienked as a process of data wranling i.e, removing unnecessary data to avoid confusion and space

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    4808 non-null   object
 1   keywords  4808 non-null   object
 2   movie_id  4808 non-null   int64
 3   cast      4808 non-null   object
 4   crew      4808 non-null   object
 5   overview  4805 non-null   object
 6   title     4808 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.5+ KB

In [80]:
movies.isnull().sum() # checks for any null value in data set

genres      0
keywords    0
movie_id    0
cast        0
crew        0
overview    3
title       0
dtype: int64

In [81]:
movies.dropna(inplace=True) # inplace ensures data modifies in given dataset and Dropna refers to removing null values in table

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [82]:
movies.isnull().sum()

genres      0
keywords    0
movie_id    0
cast        0
crew        0
overview    0
title       0
dtype: int64

In [83]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4805 entries, 0 to 4807
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    4805 non-null   object
 1   keywords  4805 non-null   object
 2   movie_id  4805 non-null   int64
 3   cast      4805 non-null   object
 4   crew      4805 non-null   object
 5   overview  4805 non-null   object
 6   title     4805 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.3+ KB

In [84]:
movies.duplicated().sum()

0

In [85]:
movies.iloc[0].genres # iloc is in pd for accessing any row or column in dataset

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [86]:
import ast # abstract syntax tree is tree representation of abstract syntax of text written in formal language It contains nodes where each node denotes a link in text

In [87]:
def convert(obj):
  L=[]
  for i in ast.literal_eval(obj):
    L.append(i['name'])
  return L

In [88]:
movies['genres']=movies['genres'].apply(convert) # removes other attributes of genres like id
movies['keywords']=movies['keywords'].apply(convert)
movies.head()

,genres,keywords,movie_id,cast,crew,overview,title
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di...",Avatar
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",A cryptic message from Bond’s past sends him o...,Spectre
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",Following the death of District Attorney Harve...,The Dark Knight Rises
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","John Carter is a war-weary, former military ca...",John Carter

In [89]:
def convert3(obj):
  L=[]
  counter=0
  for i in ast.literal_eval(obj):
    if counter!=3:
      L.append(i['name'])
      counter+=1
    else :
      break
    return L

In [90]:
movies['cast']=movies['cast'].apply(convert3) # removes other attributes like id for getting structured format similar to title,genres,etc i.e, removing numericals and unwanted values

In [91]:
movies.head()

,genres,keywords,movie_id,cast,crew,overview,title
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",19995,[Sam Worthington],"[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di...",Avatar
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",285,[Johnny Depp],"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",206647,[Daniel Craig],"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",A cryptic message from Bond’s past sends him o...,Spectre
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",49026,[Christian Bale],"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",Following the death of District Attorney Harve...,The Dark Knight Rises
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",49529,[Taylor Kitsch],"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","John Carter is a war-weary, former military ca...",John Carter

In [92]:
def fetch_director(obj):
  L=[]
  for i in ast.literal_eval(obj):
    if(i['job']=='Director'):
      L.append(i['name'])
  return L

In [93]:
movies['crew']=movies['crew'].apply(fetch_director) # same like above removing extra attributes of crew

In [94]:
movies.head()

,genres,keywords,movie_id,cast,crew,overview,title
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",19995,[Sam Worthington],[James Cameron],"In the 22nd century, a paraplegic Marine is di...",Avatar
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",285,[Johnny Depp],[Gore Verbinski],"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",206647,[Daniel Craig],[Sam Mendes],A cryptic message from Bond’s past sends him o...,Spectre
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",49026,[Christian Bale],[Christopher Nolan],Following the death of District Attorney Harve...,The Dark Knight Rises
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",49529,[Taylor Kitsch],[Andrew Stanton],"John Carter is a war-weary, former military ca...",John Carter

In [95]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [96]:
movies['overview']=movies['overview'].apply(lambda x:x.split()) # splittng whole overview paragraph into words

In [97]:
movies['overview'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [98]:
movies['genres']=movies['genres'].apply(lambda x :[ i.replace(" ","") for i in x]) #  for testing and training process
movies['genres'][0]

['Action', 'Adventure', 'Fantasy', 'ScienceFiction']

In [99]:
movies['keywords'][0]

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [100]:
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in  x])

In [101]:
movies['keywords'][0]

['cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d']

In [102]:
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in  x])

In [103]:
movies.isnull().sum()

genres       0
keywords     0
movie_id     0
cast        42
crew         0
overview     0
title        0
dtype: int64

In [104]:
movies.dropna(inplace=True)

In [105]:
movies.isnull().sum()

genres      0
keywords    0
movie_id    0
cast        0
crew        0
overview    0
title       0
dtype: int64

In [106]:
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in  x])

In [107]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew'] # creating new column containing values of all other columns

In [108]:
movies.head()# "tags" contains everything that is in(cast+crew+overview+keywords)

,genres,keywords,movie_id,cast,crew,overview,title,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",19995,[SamWorthington],[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",285,[JohnnyDepp],[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",206647,[DanielCraig],[SamMendes],"[A, cryptic, message, from, Bond’s, past, send...",Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",49026,[ChristianBale],[ChristopherNolan],"[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",49529,[TaylorKitsch],[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [109]:
new_df=movies[['movie_id','title','tags']] # tags=(overview+keywords+cast+crew)

In [110]:
new_df['title']=new_df['title'].apply(lambda x:x.lower())

<ipython-input-110-3216e2bc4d39>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['title']=new_df['title'].apply(lambda x:x.lower())

In [111]:
new_df.head() # new dataframe

,movie_id,title,tags
0,19995,avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,pirates of the caribbean: at world's end,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,the dark knight rises,"[Following, the, death, of, District, Attorney..."
4,49529,john carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [112]:
new_df['tags']=new_df['tags'].apply(lambda x: ' '.join(x)) # for removing [] in tags

<ipython-input-112-43af71dc9d34>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: ' '.join(x)) # for removing [] in tags

In [113]:
new_df.head()

,movie_id,title,tags
0,19995,avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,pirates of the caribbean: at world's end,"Captain Barbossa, long believed to be dead, ha..."
2,206647,spectre,A cryptic message from Bond’s past sends him o...
3,49026,the dark knight rises,Following the death of District Attorney Harve...
4,49529,john carter,"John Carter is a war-weary, former military ca..."

In [114]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington JamesCameron'

In [115]:
new_df['tags']=new_df['tags'].apply(lambda X:X.lower()) # converting everything into  lowercase

<ipython-input-115-7fc5ca5bede8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda X:X.lower()) # converting everything into  lowercase

In [116]:
from sklearn.feature_extraction.text import CountVectorizer # it is used to tranform given text into vector on basis of frequency of each word 
cv = CountVectorizer(max_features=5000,stop_words='english')

In [117]:
cv.fit_transform(new_df['tags']).toarray().shape #it creates of dictonary of tokens tokens are word seperated by punctations like spaces 
#maps each single token to vector

(4763, 5000)

In [118]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [119]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [120]:
len(cv.get_feature_names())

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

5000

In [121]:
import nltk # natural languauge tool kit is platform used for building python programs that work with human language for applying in statical natural language
#it contain text processing libaries for tokenisation,stemming,parsing,classification and semantic reasoning

In [122]:
from nltk.stem import PorterStemmer # reducing word to its word stem that is suffix and prefix of word is called stemm
ps=PorterStemmer()

In [123]:
def stem(text):
  y=[]
  for i in text.split():
    y.apped(ps.stem(i))
  return " ".join(y)

In [124]:
from sklearn.metrics.pairwise import cosine_similarity
#cosine-similarity majors the similarity between 2 (factors) vectors of an inner product  space and determines whether 2 vectors are roughly pointing in the same direction
#it is majored by cosine direction

In [125]:
cosine_similarity(vectors)

array([[1.        , 0.09128709, 0.05986843, ..., 0.02431083, 0.02635231,
        0.        ],
       [0.09128709, 1.        , 0.06558258, ..., 0.02663118, 0.        ,
        0.        ],
       [0.05986843, 0.06558258, 1.        , ..., 0.02619813, 0.        ,
        0.        ],
       ...,
       [0.02431083, 0.02663118, 0.02619813, ..., 1.        , 0.06918984,
        0.04671418],
       [0.02635231, 0.        , 0.        , ..., 0.06918984, 1.        ,
        0.05063697],
       [0.        , 0.        , 0.        , ..., 0.04671418, 0.05063697,
        1.        ]])

In [126]:
cosine_similarity(vectors).shape

(4763, 4763)

In [127]:
similar=cosine_similarity(vectors)# declaring variable instead of calling function every time

In [128]:
similar[0]

array([1.        , 0.09128709, 0.05986843, ..., 0.02431083, 0.02635231,
       0.        ])

In [129]:
similar[0].shape

(4763,)

In [130]:
sorted(list(enumerate(similar[0])),reverse=True,key=lambda x:x[1])[1:6]
#enumerate function converts data colllection obj into enumerate objects
#enumerate returns as obj which contains counter as key

[(539, 0.2651650429449553),
 (1194, 0.2545875386086578),
 (507, 0.24948506639458295),
 (1216, 0.24459979523511427),
 (260, 0.2434322477800738)]

In [131]:
def recommend(movie):
  movie=movie.lower()
  movie_index = new_df[new_df['title'][:]==movie].index[0]
  distances=similar[movie_index]
  movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
  for i in movies_list:
    print(movies.iloc[i[0]].title)

In [132]:
recommend('Avatar')

Titan A.E.
Small Soldiers
Independence Day
Aliens vs Predator: Requiem
Ender's Game

In [133]:
recommend('Iron Man')

Iron Man 2
Iron Man 3
Avengers: Age of Ultron
The Avengers
Ant-Man